body{
    text-align: center;
    background-color: rgb(138, 136, 136);
    height: 100vh;
}
.card{
    width: 550px;
    background-color: black;
    padding: 30px;
   margin-top: 60px;
   margin-left: 200px;
   border-radius: 15px;
   box-shadow: 0 0  20px;
}
input{
    width: 400px;
    margin-top: 6px;
    height: 30px;
    background-color: rgb(189, 188, 188);
    border-radius: 8px;
    text-align: center;
    font-weight: 900;
}
input:focus{
    outline: none;
    border: 2px solid rgb(253, 249, 249);
}
#btn{
    margin-top: 6px;
    margin-left: 270px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(138, 136, 136);
    font-weight: 800;
    border: 2px solid white;
}
h1{
    color: white;
    margin-top: -5px;
    border: 4px solid rgb(250, 248, 248);
    padding: 7px;
    border-radius: 7px;
}
#reset{
    padding: 10px;
    font-weight: 900;
    width: 110px;
  border-radius: 9px;
  background-color:black;
  color: white;
  border: 4px solid white;
  margin-right: 40px;
}
/*h3{
    color: white;
    font-weight: 900;
}
*/
li{
    margin-top: 7px;
    padding: 5px;
    border: 3px solid white;
    color: rgb(122, 121, 121);
    font-weight: 900;
    border-radius: 7px;
  list-style-type: none;
  margin-right: 40px;
}
button{
    background-color: rgb(80, 79, 79);
    color: white;
    border-radius: 5px;
    margin-left: 50px;
}
h3{
   color: grey;
   border: 3px solid rgb(252, 249, 249);
   padding: 8px;
   border-radius: 10px;
}